# Port number
PORT=3000

# URL of the Mongo DB (DB_NAME will be replaced with the value inside MONGODB_DB_NAME)
MONGODB_URL=mongodb://127.0.0.1:27017/{DB_NAME}?retryWrites=true&w=majority&appName=your-app-name
MONGODB_DB_NAME=databaseName

# JWT
# JWT secret key
JWT_SECRET=thisisasamplesecret
# Number of minutes after which an access token expires
JWT_ACCESS_EXPIRATION_MINUTES=30
# Number of days after which a refresh token expires
JWT_REFRESH_EXPIRATION_DAYS=30
# Number of minutes after which a reset password token expires
JWT_RESET_PASSWORD_EXPIRATION_MINUTES=10
# Number of minutes after which a verify email token expires
JWT_VERIFY_EMAIL_EXPIRATION_MINUTES=10

# Cookie configs
TWITTER_COOKIES='kdt=12345;auth_token=12345;ct0=12345;twid="u=12345";','kdt=56789;auth_token=56789;ct0=56789;twid="u=56789";'

# URL of client application
CLIENT_URL=http://localhost:5000
